*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-top: 150px;
    background-color: coral;
}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
.amount{
    margin-top: 1rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

}
.dropdown i{
    margin-top: 1rem;
}

form select,input,button{
    width: 100%;
   border:none;
   outline: none;
   border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgray;
   font-size: 1rem;
   height: 3rem;
   padding-left: 0.5rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius:0.5rem ;
    margin-top: 0.5rem;
}
.select-container img{
    min-width: 2rem;
}
.select-container select{
    font-size: 1rem;
}
input{
    margin-top: 0.5rem;
}
button{
    margin-top: 2rem;
    height: 3rem ;
    background-color:darkmagenta;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
}
.msg{
    margin-top: 1rem;
}




